<link rel="stylesheet" href="/css/user.css">

<h1>USERS PAGE / <%= title %></h1>


<!-- 
        The unique part is this only and rest is just layout or fixed part so it is 
        removed
     -->

     <!-- 
        So we have to find a way that whenever my code encounters link tag
        So it automatically put it in the head section of the page
        That solution is available in the documentation of ejs-layout

        

      -->
